@import '../../../public/styles/index.scss';


.superheroes {


  &__list {
    margin-top: -40px;
    margin-left: -20px;
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    justify-content: center;
    margin: auto;
  }

  &__item {
    margin-top: 40px;
    margin-left: 20px;

  }
}
